body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

input {
  margin-top: 10px;
}

.btn-submit {
  background: #c93c20;
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.App {
  text-align: center;
  padding: 20px;
}
